 #root { 
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
background-color:rgba(208, 209, 211, 0.233);
   
}
.search-layout {
  display: flex;
  min-height: 100vh;  
}

.sidebar {
  width: 250px;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
  padding: 15px;
}

 
.search-products {
  flex: 1; 
  padding: 20px;
  overflow-y: auto;  
}

 
.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
}

.card-hover:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  height: 220px;
  object-fit: cover;
}

 .with-navbar-spacing {
  margin-top: 70px;  
}
@media (max-width: 768px) {
  .with-navbar-spacing {
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 150px;
  }
  .with-subnavbar-spacing{
    margin-top: 150px;
  }
}
.with-subnavbar-spacing {
  margin-top: 70px;  
}
 
 
 
