
#scroll-section-2 {
  background-color: #fff;
  position: relative;
  width: 98%;
  float: left;
  overflow: hidden;
  margin-left: 10px;
  margin-top: 10px;
}

#scroll-section-2 h5 {
  text-align: left;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 18px;
  font-size: 25px;
}

.scroll-content-2 {
  display: flex;
  transition: transform 0.5s ease;
}

#scroll-section-2 img {
  transition: transform 0.3s ease;
  height: 280px;
  width: 450px;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-left: 15px;
}

.scroll-item-2 {
  box-sizing: border-box;
}

.arrow {
position: absolute;
top: 50%;
left: 97%;
transform: translateY(-50%);
width: 50px;
height: 90px;
border-radius: 10px;
background-color: rgba(240, 237, 237, 0.5);
color: black;
font-size: 30px;
border: none;
padding: 10px;
cursor: pointer;
z-index: 2;
}
.arrow.left { left: -20px; }

.arrow.right {
  right: 10px;
}

.hidden {
  display: none;
}
@media (max-width: 768px) {
    .arrow{
        visibility: hidden;
    }
   .scroll-content-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  
  gap: 15px;                            
  padding: 10px;
}

#scroll-section-2 img {
  width: 100%; 
  height: auto;
  transition: transform 0.3s ease;
 
}

}
