 
#headerimgs {
  background-color: #fff;
  width: 98%;
  margin-bottom: 10px;
  padding: 10px 0;

}

.header-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

 
.header-col img {
  display: block;
  width: 70px;
  height: 70px;
}
.header-col img:hover{
    transform: scale(1.1);
}
 
.header-col p {
  display: flex; 
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding-top: 10px;
  line-height: 20px;
  margin: 0;
}
 
.header-col p i {
  margin-left: 4px;
  transition: transform 0.3s ease;
}
 
.header-col p:hover i {
  transform: rotate(180deg);
}

 
@media (max-width: 768px) {
  #headerimgs {
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 70px;
  }

  .header-col {
    flex: 0 0 auto;
    margin-right: 15px;
  }

  .header-col p {
    font-size: 12px;
    line-height: 18px;
  }

  .header-col img {
    width: 60px;
    height: 60px;
  }
}
