.stickers-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  gap: 15px;
  padding: 20px;
}

.stickers img {
  width: 100%;   
  height: auto; 
  
  transition: transform 0.3s ease;
}
 
@media (max-width: 768px) {
  .stickers-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .stickers-container {
    grid-template-columns: 1fr;
  }
}
