 
#navbar {
  width: 100%;
  height: 60px;
  background-color: rgb(44, 100, 254);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 190px;
  z-index: 1000;
  font-family: "Roboto", sans-serif;
}
 
.navbar-left {
  display: flex;
  flex-direction: column;
 
}
.login-dropdown {
  position: absolute;
  top: 65px;
  right:5;
  width:20%;
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border-radius: 4px;
  /* display: none;  */
   opacity: 0;
   transform: translateY(10px);
  transition: opacity 0.25s ease, transform 0.25s ease;
  z-index: 1000;
}
.navbar-right.login-btn:hover .login-dropdown{
  display:flex;
  flex-direction: column;
  opacity: 1;
  transform: translateY(0);
}
.logo-img-0 {
  width: 75px;
  height: auto;
  transform: translate(-50%,30%);
}

.logo-img-1 {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 220px;
  top: 33px;
}

.logo-content {
  color: white;
  font-size: 12px;
  text-decoration: none;
margin-left: -39px;
  
}

.logo-content em {
  font-style: italic;
  color: #fff;
}

.logo-content span {
  color: #fdd835;
  font-weight: bold;
  font-style: italic;
}
 
.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 2px;
  width: 330px;
  padding: 6px 10px;
  box-shadow: 3px 3px 5px rgba(19, 18, 18, 0.358);
}

.search-bar input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  
}

.search-icon {
  color: rgb(44, 100, 254);
  font-size: 22px;
  cursor: pointer;
}
 
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
   transform: translate(-1%,20%);
  gap: 25px;
  color: white;
   
}

.login-btn {
  background-color: white;
  color: rgb(44, 100, 254);
  border: none;
  padding: 3px 25px;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  margin-top: -15px;
  
}

.menu-item {
  cursor: pointer;
  font-weight: 500;
}

.more {
  display: flex;
  align-items: center;
}

.arrow {
  font-size: 16px;
  margin-left: 3px;
}

.cart {
  display: flex;
  align-items: center;
}

.cart-icon {
  font-size: 18px;
  margin-right: 5px;
}
@media (max-width: 1200px) {
  #navbar {
    padding: 0 100px;
  }

  .search-bar {
    width: 280px;
  }
}

